<header>
    <h1>Cool Articles</h1>
  </header>
  <div class="band">
    <div class="item-1">
      <a href="https://thedaileigh.com/what-to-wear/2023/11/14/brown-boots" class="card">
        <div class="thumb" style="background-image: url(https://images.squarespace-cdn.com/content/v1/57923b5759cc680b4e32353d/c8555928-cfc5-4a23-9463-c132c3545ed8/image-asset.jpeg?format=2500w);"></div>
        <article>
          <h1>Brown Boots</h1>
          <span>NOVEMBER 14, 2023</span>
        </article>
      </a>
    </div>
    <div class="item-2">
      <a href="https://thedaileigh.com/what-to-wear/2023/11/11/holiday-layers" class="card">
        <div class="thumb" style="background-image: url(https://images.squarespace-cdn.com/content/v1/57923b5759cc680b4e32353d/3a45604d-f6db-4172-be70-52c80f7d5272/image-asset.jpeg?format=2500w);"></div>
        <article>
          <h1>Holiday Layres</h1>
          <span>NOVEMBER 18, 2023</span>
        </article>
      </a>
    </div>
    <div class="item-3">
      <a href="https://thedaileigh.com/what-to-wear/2023/11/9/holiday-gift-guide-for-her" class="card">
        <div class="thumb" style="background-image: url(https://images.squarespace-cdn.com/content/v1/57923b5759cc680b4e32353d/cc2ffba6-1a0b-4616-b531-5f4e3e399cdb/image-asset.jpeg?format=2500w);"></div>
        <article>
          <h1>Created by You, July Edition</h1>
          <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
          <span>NOVEMBER 4, 2023</span>
        </article>
      </a>
    </div>
    <div class="item-4">
      <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
        <div class="thumb" style="background-image: url(https://images.squarespace-cdn.com/content/v1/57923b5759cc680b4e32353d/c214230c-c523-45ce-a3d2-0128d80ad728/image-asset.jpeg?format=2500w);"></div>
        <article>
          <h1>How to Code a Scrolling “Alien Lander” Website</h1>
          <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
          <span>NOVEMBER 24, 2023</span>
        </article>
      </a>
    </div>
    <div class="item-5">
      <a href="https://design.tutsplus.com/tutorials/stranger-things-inspired-text-effect--cms-27139" class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);"></div>
        <article>
          <h1>How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
          <span>NOVEMBER 30, 2023</span>
        </article>
      </a>
    </div>
    <div class="item-6">
      <a href="https://photography.tutsplus.com/articles/5-inspirational-business-portraits-and-how-to-make-your-own--cms-27338" class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>
        <article>
          <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>
  
          <span>NOVEMBER 6, 2023</span>
        </article>
      </a>
    </div>
    <div class="item-7">
      <a href="https://webdesign.tutsplus.com/articles/notes-from-behind-the-firewall-the-state-of-web-design-in-china--cms-22281" class="card">
        <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
        <article>
          <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
          <span>Kendra Schaefer</span>
        </article>
      </a>
    </div>
  </div>
