<div class="banner">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to off !</p>
    <button>Shop Now</button>
</div>
<div class="feature section-p1 ">
    <div class="fe-box">
        <img src="/assets/img/features/f1.png" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/features/f2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/features/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/features/f4.png" alt="">
        <h6>Prmotions</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/features/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="/assets/img/features/f6.png" alt="">
        <h6>F24/7 Support</h6>
    </div>
</div>

    <div class="product1 section-p1 pt-4">
        <h2>Featured Products</h2>
        <p>Summer Collection New Morden Desing</p>
        <div class="pro-container ">
            <div class="pro">
                <img src="/assets/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$77</h4>
                </div>
                <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
            </div>

            <div class="pro">
                <img src="/assets/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$77</h4>
                </div>
                <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
            </div>

            <div class="pro">
                <img src="/assets/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$77</h4>
                </div>
                <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
            </div>

            <div class="pro">
                <img src="/assets/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$77</h4>
                </div>
                <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
            </div>


            <div class="pro">
                <img src="/assets/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$77</h4>
                </div>
                <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
            </div>

            <div class="pro">
                <img src="/assets/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$77</h4>
                </div>
                <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
            </div>

            <div class="pro">
                <img src="/assets/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$77</h4>
                </div>
                <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
            </div>

            <div class="pro">
                <img src="/assets/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <h4>$77</h4>
                </div>
                <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
            </div>
            
        </div>
    </div>

<div class="banner1 section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% OFF</span> All t-Shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</div>


<div class="product1 section-p1 pt-4">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Morden Desing</p>
    <div class="pro-container ">
        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>


        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>
        
    </div>
</div>

<div class="product1 section-p1 pt-4">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Morden Desing</p>
    <div class="pro-container ">
        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>


        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>
        
    </div>
</div>

<div class="product1 section-p1 pt-4">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Morden Desing</p>
    <div class="pro-container ">
        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>


        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>

        <div class="pro">
            <img src="/assets/img/products/f1.jpg" alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Cartoon Astronaut T-Shirts</h5>
                <div class="star">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <h4>$77</h4>
            </div>
            <a href="#" routerLink="/product"><i class="ri-shopping-cart-2-fill cart"></i></a>
        </div>
        
    </div>
</div>
<div class="sm-banner section-p1">
    <div class="banner-box">
        <h4>Crazy deals</h4>
        <h2>Buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cara</span>
        <button>Learn More</button>
    </div>
    <div class="banner-box m1">
        <h4>Spring summer</h4>
        <h2>Upcomming season</h2>
        <span>The best classic dress is on sale at cara</span>
        <button>Collection</button>
    </div>
</div>

<div class="banner3">
    <div class="banner-box1 m5">
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box1 m3">
        <h2>NEW FOOTWEAR COLLECTION</h2>
        <h3>Spring / Summer 2022</h3>
    </div>
    <div class="banner-box1 m4">
        <h2>T-SHIRTS</h2>
        <h3>New Trendy Prints </h3>
    </div>
</div>

<div class="newsletter section-p1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our lattest shop ang <span>Spacial offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button>Sign Up</button>
    </div>
</div>
